@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-200;
}

.video-zoom {
  animation: slow-zoom 10s ease-in-out infinite alternate;
}

@keyframes slow-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
}
